cudatoolkit==11.8.0
efficientnet-pytorch==0.7.1
giflib==5.2.1
importlib-resources==5.12.0
libgcc-ng==12.2.0
libgfortran-ng==12.2.0
libgfortran5==12.2.0
libiconv==1.17
libjpeg-turbo==2.1.4
liblapack==3.9.0
libnsl==2.0.0
libopenblas==0.3.21
libpng==1.6.37
libprotobuf==3.20.3
libstdcxx-ng==12.2.0
libtiff==4.2.0
libuuid==2.32.1
libwebp==1.2.4
libwebp-base==1.2.4
libxcb==1.13
llvm-openmp==14.0.6
lz4-c==1.9.4
magma==2.6.2
matplotlib==3.7.0
munch==2.5.0
nccl==2.14.3.1
ncurses==6.3
ninja==1.11.0
numpy==1.23.5
numpy-base==1.23.5
packaging==22.0
pillow==9.3.0
pooch==1.6.0
pretrainedmodels==0.7.4
pthread-stubs==0.4
pycparser==2.21
pyopenssl==23.0.0
pyparsing==3.0.9
pysocks==1.7.1
python==3.9.15
python-dateutil==2.8.2
pytorch==1.12.1
pyyaml==6.0
requests==2.28.1
scipy==1.10.0
segmentation-models-pytorch==0.3.1
setuptools==65.6.3
six==1.16.0
torchvision==0.13.1
tqdm==4.64.1
wheel==0.38.4